/* Custom Properties */
:root {
  --blue: #358cb2;
  --yellow: #ffbd59;
  --black: #1a191a;
  --white: #fff;
  --aqua: #248080;
  --gold: #7e7334;
  --white-alpha: rgba(255, 255, 255, 0.5);
  --black-alpha: rgba(0, 0, 0, 0.5);
  --color-primary: var(--aqua);
  --color-secondary: var(--gold);
  --font: "Poppins", sans-serif;
  --max-width: 1280px;
  --header-height: 6rem;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: var(--black);
  color: var(--white);
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

h1,
h2 {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* Components */

/* Hero Image */
.hero-image {
  background: var(--image) no-repeat center center/cover var(--attachment);
}

.hero-image-opacity {
  width: 100%;
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--opacity-color);
  text-align: center;
}

.hero-image-title {
  font-size: 7.5vw;
  margin-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
  .hero-image-title {
    font-size: 7rem;
  }
}

/* Menu */
.menu-btn {
  font-size: 3rem;
  border: none;
  background-color: transparent;
  color: var(--color-primary);
  cursor: pointer;
}

.menu {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}

.menu.is-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu a {
  padding: 0.5rem 0;
  text-align: center;
  font-weight: bold;
  border: 2px solid transparent;
}

.menu a:hover {
  background-color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .menu a:last-child {
    height: fit-content;
    padding: 0.2rem 1.5rem;
    border-radius: 2rem;
    border-color: var(--color-primary);
    color: var(--color-primary);
  }

  .menu a:last-child:hover {
    color: var(--white);
    background-color: var(--color-primary);
  }

  .menu a:hover {
    background-color: transparent;
    color: var(--color-primary);
  }
}

/* Skills */
.skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, 130px);
  justify-content: center;
  gap: 2rem;
}

.skills-item {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid var(--color-secondary);
  border-radius: 2rem;
  font-size: 1.2rem;
}

.skills-item:hover {
  background-color: var(--color-secondary);
}

/* Utilities */

.box-shadow {
  box-shadow: 4px 4px 1.6rem rgba(0, 0, 0, 0.25);
}

.btn {
  display: inline-block;
  min-width: 90px;
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-weight: bold;
  text-align: center;
  background-color: var(--color-primary);
}

.btn:hover {
  background-color: var(--color-secondary);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
}

.none {
  display: none;
}

.section {
  max-width: var(--max-width);
  min-height: 100vh;
  margin: 0 auto;
  padding: calc(4rem + var(--header-height)) 2rem 4rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .text-lg-center {
    text-align: center;
  }

  .text-lg-right {
    text-align: right;
  }
}

@media screen and (min-width: 1024px) {
  .text-lg-left {
    text-align: left;
  }
}

/* Site Styles */
.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3rem;
  align-content: center;
  justify-content: center;
}

.about-image {
  border-bottom: 4px solid var(--color-secondary);
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: var(--color-secondary);
}

.about-image img {
  height: 100%;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  object-fit: cover;
  filter: grayscale(100%);
}

.about-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-info h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1rem;
}
.about-info h1 span {
  font-size: 2rem;
  color: var(--color-secondary);
}

.about-info p {
  font-size: 1.4rem;
}

.about-info .btn {
  margin-top: 1.5rem;
  background-color: var(--color-secondary);
}

.about-info .btn:hover {
  background-color: var(--color-primary);
}

.about-skills h2 {
  margin-bottom: 3rem;
  line-height: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--black);
  z-index: 999;
  border-bottom: var(--color-primary) 0.2rem solid;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  width: 130px;
  height: 100%;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(./assets/img/logo.png) center / contain no-repeat;
}

@media screen and (min-width: 630px) {
  .about {
    grid-template-columns: repeat(auto-fit, 50%);
    row-gap: 4rem;
  }

  .about-skills {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1200px) {
  .about-image {
    justify-self: center;
    height: 450px;
  }
}
