/* Custom Properties */
:root {
  --blue: #358cb2;
  --yellow: #ffbd59;
  --black: #1a191a;
  --white: #fff;
  --aqua: #248080;
  --gold: #7e7334;
  --pink: #e680a0;
  --purple: #a35fb9;
  --purple-alpha: rgba(163, 95, 185, 0.9);
  --orange: #da9652;
  --white-alpha: rgba(255, 255, 255, 0.5);
  --black-alpha: rgba(0, 0, 0, 0.5);
  --color-primary: var(--aqua);
  --color-secondary: var(--gold);
  --font: "Poppins", sans-serif;
  --max-width: 1280px;
  --header-height: 6rem;
}

/* Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: var(--black);
  color: var(--white);
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

h1,
h2 {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* Components */

/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 6rem;
  max-width: 800px;
}

.contact-form > *:focus-visible {
  outline: none;
}

.contact-form-description h3 {
  color: var(--orange);
}

.contact-form-email,
.contact-form-name {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid var(--white-alpha);
  padding: 0.5rem 1rem;
}

.contact-form-message {
  border: 2px solid var(--white-alpha);
  border-radius: 1rem;
  background-color: transparent;
  color: white;
  resize: none;
  padding: 0.5rem 1rem;
}

.contact-form-loader img {
  display: block;
  margin: 0 auto;
}

.contact-form .btn {
  border: 2px solid var(--orange);
  background-color: var(--black);
  width: fit-content;
  align-self: center;
  color: var(--orange);
  transition: all 0.3s ease-in-out;
}

.contact-form .btn:hover {
  background-color: var(--orange);
  color: var(--black);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .contact-form .btn {
    align-self: flex-end;
  }
}

/* Hero Image Component */
.hero-image {
  background: var(--image) no-repeat center center/cover var(--attachment);
}

.hero-image-opacity {
  width: 100%;
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--opacity-color);
  text-align: center;
}

.hero-image-title {
  font-size: 7.5vw;
  margin-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
  .hero-image-title {
    font-size: 7rem;
  }
}

/* Menu Component*/
.menu-btn {
  font-size: 3rem;
  border: none;
  background-color: transparent;
  color: var(--color-primary);
  cursor: pointer;
}

.menu {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}

.menu.is-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu a {
  padding: 0.5rem 0;
  text-align: center;
  font-weight: bold;
  border: 2px solid transparent;
}

.menu a:hover {
  background-color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .menu a:last-child {
    height: fit-content;
    padding: 0.2rem 1.5rem;
    border-radius: 2rem;
    border-color: var(--color-primary);
    color: var(--color-primary);
  }

  .menu a:last-child:hover {
    color: var(--white);
    background-color: var(--color-primary);
  }

  .menu a:hover {
    background-color: transparent;
    color: var(--color-primary);
  }
}

/* Modal Component*/
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--black-alpha);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}

.modal[id|="project"]:target {
  opacity: 1;
  pointer-events: auto;
}

.modal#thanks:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 2px solid var(--purple);
  padding: 2rem 1.5rem;
  border-radius: 1.5rem;
  background-color: var(--black);
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--purple);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content img {
  aspect-ratio: 5 / 4;
  object-fit: cover;
}

.project-info {
  display: flex;
  flex-direction: column;
}

.project-info p {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.1rem;
  list-style: none;
  text-align: center;
  margin-bottom: 1.5rem;
}

.project-skills li {
  color: var(--purple);
  font-weight: bold;
  border-radius: 2rem;
  line-height: 1.6;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.project-links a {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  background-color: var(--purple);
  padding: 0 1rem;
  border: 2px solid var(--purple);
  font-weight: bold;
  color: var(--black);
  border-radius: 2rem;
  line-height: 1.6;
}

.project-links a:last-child {
  background-color: var(--black);
  color: var(--purple);
}

@media screen and (min-width: 640px) {
  .modal-content {
    flex-direction: row;
    max-width: 800px;
  }

  .modal-close:hover {
    box-shadow: 0 0 8px var(--purple);
  }

  .modal-content img {
    width: 50%;
  }

  .project-info h3 {
    padding-right: 3rem;
  }

  .project-info p {
    flex: 1;
  }

  .project-links a:hover {
    box-shadow: 0 0 8px var(--purple);
  }
}

/* Skills Component*/
.skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, 130px);
  justify-content: center;
  gap: 2rem;
}

.skills-item {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid var(--color-secondary);
  border-radius: 2rem;
  font-size: 1.2rem;
}

.skills-item:hover {
  background-color: var(--color-secondary);
}

/* Utilities */
.btn {
  display: inline-block;
  min-width: 90px;
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-weight: bold;
  text-align: center;
  background-color: var(--color-primary);
}

.btn:hover {
  background-color: var(--color-secondary);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
}

.none {
  display: none;
}

.section {
  max-width: var(--max-width);
  min-height: 100vh;
  margin: 0 auto;
  padding: calc(2rem + var(--header-height)) 2rem 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .text-lg-center {
    text-align: center;
  }

  .text-lg-right {
    text-align: right;
  }
}

@media screen and (min-width: 1024px) {
  .text-lg-left {
    text-align: left;
  }
}

/* Site Styles */
.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3rem;
  align-content: center;
  justify-content: center;
}

.about-image {
  border-bottom: 4px solid var(--color-secondary);
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: var(--color-secondary);
}

.about-image img {
  height: 100%;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  object-fit: cover;
  filter: grayscale(100%);
}

.about-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-info h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1rem;
}
.about-info h1 span {
  font-size: 2rem;
  color: var(--color-secondary);
}

.about-info p {
  font-size: 1.4rem;
}

.about-info .btn {
  margin-top: 1.5rem;
  background-color: var(--color-secondary);
}

.about-info .btn:hover {
  background-color: var(--color-primary);
}

.about-skills h2 {
  margin-bottom: 3rem;
  line-height: 1;
}

.contact h2 {
  width: fit-content;
  margin: 0 auto 3rem;
  padding: 0 2rem;
  border-bottom: 3px solid var(--orange);
}

.contact-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-auto-rows: 100px;
  gap: 2rem;
}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  font-size: 1.8rem;
  color: var(--orange);
}

.contact-card small {
  color: var(--white);
  font-size: 1.2rem;
}

.contact .modal-content {
  padding: 1rem 1.5rem;
  border-color: var(--orange);
}

.contact-form-response {
  text-align: center;
}

.contact-form-response i {
  color: var(--orange);
  display: block;
  margin-top: 1rem;
  font-size: 4rem;
}

.footer-info {
  display: block;
  margin: 5rem auto 2rem;
  text-align: center;
}

.footer-info b {
  color: var(--orange);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--black);
  z-index: 999;
  border-bottom: var(--color-primary) 0.2rem solid;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  width: 130px;
  height: 100%;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(./assets/img/logo.png) center / contain no-repeat;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3rem;
  align-content: center;
  justify-content: center;
  max-width: 1200px;
}

.portfolio h2 {
  grid-column: 1 / -1;
  margin: 0 auto;
  padding: 0 2rem;
  border-bottom: 3px solid var(--purple);
}

.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  overflow: hidden;
  flex-wrap: nowrap;
  border: 3px solid var(--purple-alpha);
  background-color: var(--purple-alpha);
}

.project-card img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.project-card-info {
  padding: 0.5rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.project-card-info h3 {
  font-size: 1.8rem;
}

.project-card-info p {
  font-size: 1.4rem;
  display: none;
}

@media screen and (min-width: 630px) {
  .about {
    grid-template-columns: repeat(auto-fit, 50%);
    row-gap: 4rem;
  }

  .about-skills {
    grid-column: span 2;
  }

  .project-card {
    border: none;
    outline: 3px solid var(--purple-alpha);
  }

  .project-card img {
    aspect-ratio: 5 / 4;
  }

  .project-card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--purple-alpha);
    opacity: 0;
    visibility: hidden;
  }

  .project-card-info-summary {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border: 2px solid var(--white);
    border-radius: 1.5rem;
  }

  .project-card:hover .project-card-info {
    opacity: 1;
    visibility: visible;
  }

  .project-card-info p {
    display: block;
  }
}

@media screen and (min-width: 940px) {
  .contact {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: min-content;
    gap: 4rem 7rem;
    justify-items: center;
  }

  .contact h2 {
    grid-column: span 2;
    margin: 0;
    height: fit-content;
  }

  .contact-cards {
    justify-self: flex-start;
  }

  .contact-form {
    margin-bottom: 0;
    justify-self: flex-end;
  }

  .footer-info {
    grid-column: span 2;
    margin-top: 4.5rem;
    margin-bottom: 1rem;
  }

  .portfolio {
    padding-top: var(--header-height);
  }
}

@media screen and (min-width: 1200px) {
  .about-image {
    justify-self: center;
    height: 450px;
  }
}
